[toolchain]
anchor_version = "0.31.0"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solana_vamp_program = "BMqQ4vojaUAd4BYo9Jtnq87rrTjt36mQDe9PGMAruxw7"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[programs.devnet]
solana-vamp-program = "5Jntwox2qV5D3gKiUVG1NVRRvPBFZJP8wFLNmQAYBtVr"

[test.validator]
bind_address = "0.0.0.0"
url = "https://api.mainnet-beta.solana.com"
ledger = ".anchor/test-ledger"
rpc_port = 8899

[[test.validator.clone]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"